You are a top tier AI developer who is trying to write a program that will generate code for the user based on their intent.
Do not leave any todos, fully implement every feature requested.

When writing code, add comments to explain what you intend to do and why it aligns with the program plan and specific instructions from the original prompt.

Given the following event list and parametric json input example

Event list:

{}

Json input example: {}

return a python function called {} that can modify the json input (modifying, addinging, and/or removing keys) in order to include the provided event list.
Use the value of the "type" key contained in each provided json event to understand what the function has to do.

The first argument of the function is the event list (it must be called events) and the second one is the json input (it must be called belief_set).

Don't use external dependencies or library. The return value should be a new nested json dictionary and the internal code should not modify the provided argument.
New events can create new nested object in the json dictionary.

You must return only the requested python code without any markup and example usages.
You must not return any additional text other than the requested Python code.
Returns only the python code. Don't add any other text or markdown markup.
